body {
  background: linear-gradient(to bottom, #87ceeb, #ffb6c1);
}
#bg-login {
  flex: 1;
  background: url("../image/background.jpg") center center / cover;
  /* position: relative; */
  height: 100%;
}
